@model List<Order>
<div class="container">
<div id="topbar"
    <nav class="navbar">
        <ul>
            <li class="listed"><a asp-action="Dashboard"><h4>Dashboard</h4></a></li>
            <li class="listed"><a asp-action="AddProduct" asp-controller="Home"><h4>Add Product</h4></a></li>
            <li class="listed"><a asp-action="Roles" asp-controller="Adminstration"><h4>Roles</h4></a></li>
        </ul>
    </nav>
</div>
<div class="tablewrapper">
<table class="table">
    <thead>
        <tr>
            <td><strong>#<strong></strong></td>
            <td><strong>Date<strong></td>
            <td><strong>Shipping Address<strong></td>
            <td><strong>Order Total<strong></td>
            <td><strong>Status</strong></td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var k in Model)
            {
                <tr>
                <td>@k.OrderId</td>
                <td>@k.CreatedAt</td>
                <td>@k.FirstName @k.LastName @k.Address @k.City @k.ZipCode @k.State</td>
                <td>@k.Cost</td>
                <td>Shipped </td>
                </tr>

            }
        }

    </tbody>
</table>
</div>
</div>