@model List<Order>
<div class=admin>
<partial></partial>
<form asp-action="SearchOrders">
    <input class="form-control" placeholder="Search..."> 
</form>
<table class="table">
    <thead>
        <tr>
            <td><strong>#<strong></strong></td>
            <td><strong>Date<strong></td>
            <td><strong>Shipping Address<strong></td>
            <td><strong>Order Total<strong></td>
            <td><strong>Status</strong></td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var k in Model)
            {
                <tr>
                <td>@k.OrderId</td>
                <td>@k.CreatedAt</td>
                <td>@k.FirstName @k.LastName @k.Address @k.City @k.ZipCode @k.State</td>
                <td>@k.Cost</td>
                <td>Shipped </td>
                </tr>

            }
        }

    </tbody>
</table>
</div>